<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>books</servlet-name>
    <servlet-class>com.pgu.books.server.rpc.BooksServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>buildFilters</servlet-name>
    <servlet-class>com.pgu.books.server.servlet.BuildFiltersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cleanBookValues</servlet-name>
    <servlet-class>com.pgu.books.server.servlet.CleanBookValuesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>books</servlet-name>
    <url-pattern>/books/books</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buildFilters</servlet-name>
    <url-pattern>/buildFilters</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cleanBookValues</servlet-name>
    <url-pattern>/cleanBookValues</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Books.html</welcome-file>
  </welcome-file-list>

</web-app>
